{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block content %}
    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">Our Events</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Events</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <!-- classes section -->
    <div class="w3l-grids-block-5 classes-bg-cont py-5 events-classes">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-style text-center mb-sm-5 mb-4">Discover the  <span>Events</span></h3>
            <div class="row justify-content-center">
                {% for event in events|sort((a,b) => a.dateEvent < b.dateEvent) %}
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card-single">
                        <div class="grids5-info position-relative">
                            {% set url = "/build/images/placeholder.png" %}
                            {% if event.medias is not empty %}
                                {% set url = "/uploads/" ~ event.medias[0].realName %}
                            {% endif %}
                            <img src="{{ asset(url) }}" alt="" class="main-image img-fluid" />
                            <div class="course-price-item">
                                <h6>$199</h6>
                            </div>
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    {% if event.categories is not empty %}
                                        <li> <i class="fas fa-music"></i>{{ event.categories[0].name }}</li>
                                    {% endif %}
                                     {% set dateEvent =event.dateEvent  %}
                                     {% set today ='now'|date('m-d-Y')  %}
                                    {% set difference = date(dateEvent).diff(date(today)) %}
                                    {% set leftDays = difference.days %}
                                    {% if leftDays == 1 %}
                                      {% set days = 1 ~ 'day' %}
                                    {% else %}
                                        {% set days = leftDays ~ 'days' %}
                                    {% endif %}
                                    <li> <i class="fas fa-calendar-alt"></i> {{ leftDays}} Days</li>
                                </ul>
                            </div>
                            <h4><a href="packages.html">{{ event.title }}</a></h4>
                            <p>{{ event.shortDescription  }}</p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                                <ul class="rating-list">
                                    <li><a href="#rate"><i class="fas fa-star" aria-hidden="true"></i>
                                        </a></li>
                                    <li><a href="#rate"><i class="fas fa-star" aria-hidden="true"></i>
                                        </a></li>
                                    <li><a href="#rate"><i class="fas fa-star" aria-hidden="true"></i>
                                        </a></li>
                                    <li><a href="#rate"><i class="fas fa-star" aria-hidden="true"></i>
                                        </a></li>
                                    <li><a href="#rate"><i class="fas fa-star" aria-hidden="true"></i>
                                        </a></li>
                                </ul>
                                <a class="btn btn-style" href="contact.html">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- //classes section -->

    <!-- pricing block -->
    <section class="pricing-w3l py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row align-items-center py-2">
                <div class="col-lg-4">
                    <h3 class="title-style">Our <span>Pricing</span> Plan!</h3>
                    <p class="mt-3">Aptent taciti sociosqu ad litora
                        conubia nostra, per inceptos himenaeos. Aenean volutpat elementum ante, id eleifend eros
                        luctus sit.</p>
                    <a href="#prices" class="btn btn-style mt-4">See all Prices</a>
                </div>
                <div class="col-lg-8 ps-xl-5 mt-lg-0 mt-sm-5 mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-pricing featured">
                                <h3 class="text-price">Standard Plan</h3>
                                <h4>$39<span>per month</span></h4>
                                <ul>
                                    <li><i class="fas fa-check-circle"></i> Basic Techniques</li>
                                    <li><i class="fas fa-check-circle"></i> Types of Music</li>
                                    <li><i class="fas fa-check-circle"></i> Jazz Basics</li>
                                    <li class="na"><span><i class="fas fa-check-circle"></i> Effective Mixing</span>
                                    </li>
                                </ul>
                                <a href="#pricing" class="btn btn-style mt-4">Choose Plan</a>
                            </div>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-4">
                            <div class="box-pricing">
                                <h3 class="text-price">Extended Plan</h3>
                                <h4>$69<span>per month</span></h4>
                                <ul>
                                    <li><i class="fas fa-check-circle"></i> Basic Techniques</li>
                                    <li><i class="fas fa-check-circle"></i> Types of Music</li>
                                    <li><i class="fas fa-check-circle"></i> Jazz Basics</li>
                                    <li><i class="fas fa-check-circle"></i> Effective Mixing</li>
                                </ul>
                                <a href="#pricing" class="btn btn-style mt-4">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    <a href="{{ path('app_event_new') }}">Create new</a>#}
{% endblock %}
