{% extends 'base.html.twig' %}

{% block title %}Events | {{ parent() }}{% endblock %}

{% block content %}
    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">Nos Events</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Events</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <!-- classes section -->
    <div class="w3l-grids-block-5 classes-bg-cont py-5 events-classes">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-style text-center mb-sm-5 mb-4">
                {% if owner is defined %}
                    Découvrir les Events de  <span>{{ owner }}</span>
                {% elseif animator is defined  %}
                    Events animés par   <span>{{ animator }}</span>
                {% elseif search is defined %}
               {{ events|length }}  Résultat(s) trouvé(s) pour  <span class="text-capitalize">{{ search }}</span>
                {% else %}
                    Découvrir les  <span>Events</span>
                    {% if categoryName is defined %}
                        <b>  {{ categoryName }} </b>
                    {% endif %}
                    {% if tagName is defined %}
                        <b>  #{{ tagName }} </b>
                    {% endif %}

                {% endif %}
            </h3>
            <div class="row justify-content-center">
                {% for event in events|sort((a,b) => a.dateEvent|date('Y-m-d') > b.dateEvent|date('Y-m-d')) %}
                    {% set dateEvent =event.dateEvent|date('Y-m-d')  %}
                    {% set today ='now'|date('Y-m-d')  %}
                    {% set difference = date(today).diff(date(dateEvent)) %}
                    {% set leftDays = difference.days %}
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card-single">
                        <div class="grids5-info position-relative" style="{% if dateEvent < today %}background:grey;border:4px solid darkred{% endif %}">


                            {% set url = "/build/images/placeholder.png" %}
                            {% if event.medias is not empty %}
                                {% set url = "/uploads/" ~ event.medias[0].realName %}
                            {% endif %}
                            <a href="{{ path('app_event_show',{"id":event.id}) }}">
                            <img src="{{ asset(url) }}" alt="" class="main-image img-fluid" style="{% if dateEvent < today %}opacity:0.2;{% endif %}" />
                            </a>
                            <div class="course-price-item">
                                {% if event.prix is not empty %}
                                    {% for prix in event.prix.values|sort((a,b) => a.somme > b.somme ) | slice(0,1) %}
                                      <h6>From<br> ${{ prix.somme }}</h6>
                                    {% endfor %}
                                {% else %}
                                <h6>$0</h6>
                                {% endif %}
                            </div>
                        </div>

                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    {% if event.categories is not empty %}
                                        <li> <i class="fas fa-music"></i>{{ event.categories[0].name }}</li>
                                    {% endif %}

                                    {% if dateEvent > today %}
                                        {% if leftDays == 0 %}
                                            {% set days = 'Today' %}
                                        {% elseif leftDays == 1 %}
                                            {% set days = 1 ~ ' Day' %}
                                        {% else %}
                                            {% set days = leftDays ~ ' Days' %}
                                        {% endif %}

                                        <li> <i class="fas fa-calendar-alt"></i> {{ days}}</li>
                                    {% else %}
                                        <li> <i class="fas fa-calendar-alt "></i> <span class="text-danger" >Passé</span></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <a href="{{ path('app_event_show',{"id":event.id}) }}">
                                <h4> {{ event.title }}</h4>
                                <p>{{ event.shortDescription  }}</p>
                            </a>
                            <div class="row mt-5 pt-4">
                                <div class="col-6">
                                    {% if averageEvents[event.id] is defined %}
                                        {% set c=averageEvents[event.id] %}
                                        <ul class="rating-list">
                                            {% for i in 1..c %}
                                                <li><a href="#rate"><i class="fas fa-star" aria-hidden="true"></i>
                                                    </a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-style" style="text-align: right;float: right" href="{{ path('app_event_show',{"id":event.id}) }}">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    {% if tagName is defined or categoryName is defined or owner is defined or animator is defined %}
                        <div class="col-12">
                            <div class="text-center">
                               <i class="black-text">
                                   {% if animator is defined and animator  %} <b>{{ animator|capitalize }}</b> n'a pas encore animé un événement
                                   {% else %}
                                       Nous n'avons rien trouvé, Ajustez vos filtres et réessayez
                                   {% endif %}
                               </i>
                                <br>
                                <a href="{{ path("events_index") }}" class="btn btn-style mt-lg-5 mt-4">Tous les Events</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <div class="text-center">
                                <i class="black-text"> No events yet </i>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- //classes section -->



{#    <a href="{{ path('app_event_new') }}">Create new</a>#}
{% endblock %}
