{% extends 'base.html.twig' %}

{% block title %}{{ event.title|capitalize }} | {{ parent() }}{% endblock %}
 {% block og_meta %}
     {% if event.medias|length %}
         <meta property="og:image" content="{{ "/uploads/" ~ event.medias[0].realName }}" />
         <meta property="og:image:secure_url" content="{{ "/uploads/" ~ event.medias[0].realName }}" />
         <link rel="image_src" href="{{ "/uploads/" ~ event.medias[0].realName }}" />
         <meta property="og:image:type" content="{{ event.medias[0].mimeType }}" />
     {% endif %}
 {% endblock %}
{% block content %}
    {% set eventPass = event.dateEvent|date('Y-m-d') < 'now'|date('Y-m-d') %}
    <!-- inner banner -->
    {% set url = "/build/images/placeholder.png" %}
    {% if event.medias is not empty %}
        {% set url = "/uploads/" ~ event.medias[0].realName %}
    {% endif %}
    <section class="inner-banner py-5" style="background: url({{ asset(url) }}) no-repeat center top/cover">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold text-capitalize pt-5">{{ event.title }}</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>{{ event.title }}</li>
                </ul>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 ">
                <h5 class="text-danger text-countdown {% if not eventPass %}d-none {% endif %}"
                    id="text-countdown"
                    style="font-style: italic;line-height: 30px">
                    {% if eventPass %}Evénement Passé{% else %}Compter chaque seconde <br> Jusqu'à l'événement{% endif %}
                </h5>
            </div>
            <div class="col-12 col-md-6 ">
            <div class="countdown-date mt-5">
                <div class="date mt-5 text-danger d-none" id="dateEvent">
                    <div class="bloc-date" >
                        <p class="bg-danger" id="days" data-date="{{ event.dateEvent|date('Y-m-d') }}" data-event="{{ event.id }}"></p>
                        <br> <small id="daysText"></small>
                    </div>
                    <div class="bloc-date">
                        <p class="bg-danger" id="hours"></p>
                        <br> <small  id="hoursText"></small>
                    </div>
                    <div class="bloc-date">
                        <p class="bg-danger" id="mins"></p>
                        <br><small  id="minsText"></small>
                    </div>
                    <div class="bloc-date">
                        <p class="bg-danger" id="secs"></p>
                        <br><small  id="secsText"></small>
                    </div>
                    <h2 id="end"></h2>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- //inner banner -->
    <div class="container mt-5">
        <div class="row align-items-center">
            {% block flash_messages %}
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} border-0 alert-dismissible mx-3 my-3" style="display: inherit">
                            <div class="row align-items-center" style="width: 100%">
                                <div class="col-6">  <div class="alert-message">{{ message|raw }}</div></div>
                                <div class="col-6" style="float: right;text-align: right">  <button type="button" class="close" style="background: transparent" data-dismiss="alert"><span>×</span></button></div>

                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
    <!-- about section -->
    <section class="w3l-about py-1" id="about">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row align-items-center">
                <div class="col-lg-6 section-width pe-xl-5 pt-lg-4">
                    <h3 class="title-style">Bienvenue à <span>{{ event.title }}</span></h3>
                    <div class="row mt-3">
                        {% if average is defined %}
                        <div class="col-8 mb-3">
                                <ul class="rating-list">
                                    {% for i in 1..average %}
                                        <li><a href="#rate"><i class="fas fa-star" aria-hidden="true"></i>
                                            </a></li>
                                    {% endfor %}
                                </ul>
                        </div>
                        {% endif %}
                        <div class="col-8">
                            <a href="{{ path('events_same_owner',{"ownerName":event.owner.fullName|lower}) }}">
                                <h6>Organisé par <b style="color: #f50537">
                                        {{ event.owner.fullName|upper }}
                                    </b>
                                    {% if app.user and app.user==event.owner %}<small style="font-weight: 200">(Vous)</small>{% endif %}
                                </h6>
                            </a>
                        </div>

                        <div class="col-4 text-right">
                            <h6>  <i class="fas fa-calendar-alt"></i>&nbsp;{{ event.dateEvent|date('d M Y') }}
                        </div>
                    </div>
                    {% if event.lieu %}
                        <h6>  <div class="mt-3" style="font-weight: 300"><b>Adresse </b><i>{{ event.lieu }}</i></div></h6>
                    {% endif %}
                    {% if event.categories is not empty %}
                        <div class="row">
                            {% for category in event.categories %}
                                <div class="col-3" style="padding: 0 2px;">
                                    <a href="{{ path("similar_events_category",{"categoryName":category.name}) }}" class="btn btn-style mt-4" style="background: #0b0b0b;border: none;padding: 10px;font-size: 13px;width: 90%">{{ category.name }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <p class="mt-4">{{ event.description }}</p>
                    {% if event.tags is not empty %}
                        <div class="row mt-4 tags-list">
                            {% for tag in event.tags %}
                                <div class="col-3 col-lg-2 text-center mr-2">
                                    <a href="{{ path("similar_events_tag",{"tagName":tag.name}) }}" class="bg-transparent">#{{ tag.name }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if event.dateEvent|date('Y-m-d') < 'now'|date('Y-m-d') %}
                        <button class="btn btn-style mt-5" disabled>Guichet Fermé</button>
                    {% else %}
                        <a href="#prices" class="btn btn-style mt-5"> Acheter un Ticket</a>
                    {% endif %}
                    {% if app.user and "ROLE_ANIMATEUR" in app.user.roles and event.dateEvent|date('Y-m-d') > 'now'|date('Y-m-d') and app.user not in  event.animators.values %}
                        <a href="{{ path('participateEvent',{'event':event.id}) }}" class="mt-5 btn btn-style" style="background: #0a58ca;border: #0a58ca;margin-left: 2.5%;display: inline-block;">Participer à l'event</a>
                    {% endif %}
                    {% if app.user and "ROLE_ANIMATEUR" in app.user.roles and event.dateEvent|date('Y-m-d') > 'now'|date('Y-m-d') and app.user  in  event.animators.values %}
                    <div class="row mt-4 tags-list">
                        <p><i class="mt-5 text-danger">Vous animez cet Event</i></p>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
                    <div class="position-relative img-border">
                        <img src="{{ url }}" class="img-fluid radius-image" alt="video-popup">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about section -->

    <!-- team section -->
    {% set animators=event.animators.values %}
    {% if animators %}
        <div class="team-area pt-1" id="team">
            <div class="container py-md-5 py-md-4 py-2">
                <h3 class="title-style text-capitalize text-center">Nos  <span>Animateurs</span>
                </h3>

                <div class="row mt-lg-5 mt-4">
                    {% for animator in animators %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-team">
                                <div class="img-area">
                                    {% set url = "/build/images/placeholder.png" %}
                                    {% if animator.avatar is not empty %}
                                        {% set url = "/uploads/" ~ animator.avatar.realName %}
                                    {% endif %}
                                    <img src="{{ url }}" class="img-fluid img-animator radius-image" alt="">
                                    <div class="social">
                                        <ul class="list-inline">
                                            <li><a href="#url"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#url"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#url"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="img-text">
                                    <a href="{{ path('events_same_animator', {'animatorName': animator.fullName}) }}">
                                        <h4>{{ animator.fullName|capitalize }}</h4>
                                        <p>{{ animator.profession }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- //team section -->

    <!-- gallery -->
    <div class="gallery_area pb-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <h3 class="title-style mb-5 mt-5 text-capitalize text-center"><span>Galerie</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row grid">
                {% for key,media in event.medias.values %}

                    {% if key == 0 %}
                        {% set class="col-xl-5 col-lg-5 cat1" %}
                    {% elseif key == 1 %}
                        {% set class="col-xl-7 col-lg-7 cat3 cat4" %}
                    {% elseif key == 2 %}
                        {% set class="col-xl-4 col-lg-6 mt-3 cat2 mb-2 cat4 img_3" %}
                    {% elseif key == 3 %}
                        {% set class="col-xl-4 col-lg-6 mt-3 mb-2 cat2 img_4 " %}
                    {% elseif key == 4 %}
                        {% set class="col-xl-4 col-lg-6 mt-3 cat2 mb-2 img_5" %}
                    {% endif %}

                    <div class="grid-item  col-md-6  {{ class }}">
                        <div class="single-gallery mb-30">
                            <div class="portfolio-img">
                                {% set url = "/uploads/" ~ media.realName %}
                                <img src="{{ url }}" alt="">
                            </div>
                            <div class="gallery_hover">
                                <a  class="popup-image hover_inner">
                                    <i class="ti-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--/ gallery -->
    <!-- pricing block -->

    <section class="pricing-w3l py-5" id="prices">
        {% set prices=event.prix.values %}
        {% if prices %}
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="row align-items-center py-2">
                    <div class="col-lg-4">
                        <h3 class="title-style">Notre <span>Plan</span> Tarifaire</h3>
                        <p class="mt-3">Choississez votre plan préféré</p>
                    </div>
                    <div class="col-lg-8 ps-xl-5 mt-lg-0 mt-sm-5 mt-4">
                        <div class="row">
                            {% for key,price in prices|sort((a, b) => a.somme <=> b.somme) %}
                                <div class="col-md-6 {% if key == 1 %}mt-md-0 mt-4{% endif %}">
                                    <div class="box-pricing featured">
                                        <h3 class="text-price">{{ price.type|upper }} <span style="font-weight: 100">Plan</span></h3>
                                        <h4>${{ price.somme }}</h4>
                                        <ul>
                                            <li><i class="fas fa-check-circle"></i> <b>{{ price.placeRestantes }}</b> Places Restantes</li>
                                            {% if 'regular' == price.type %}
                                                <li class="na">
                                                    <span><i class="fas fa-check-circle"></i> Restaurant exclusif</span>
                                                </li>
                                                <li class="na">
                                                    <span><i class="fas fa-check-circle"></i> Accès à des salons VIP</span>
                                                </li>
                                            {% else %}
                                                <li><i class="fas fa-check-circle"></i> Restaurant exclusif</li>
                                                <li>
                                                    <span><i class="fas fa-check-circle"></i> Accès à des salons VIP</span>
                                                </li>
                                            {% endif %}
                                        </ul>
                                        {% if (price.placeRestantes == 0 ) or (event.dateEvent|date('Y-m-d') < 'now'|date('Y-m-d')) %}
                                            <button class="btn btn-style mt-4" disabled>Guichet Fermé</button>
                                        {% else %}
                                            <button {% if eventPass %} disabled style="opacity: 0.3" {% endif %}
                                                    data-endpoint="{{ path('event.paiement',{'event':event.id,'type':price.type}) }}"
                                                    data-type="{{ price.type }}"
                                                    data-event="{{ event.id }}"
                                                    data-redirect="{{ path('app_login') }}"
                                                    data-stripe="{{ stripe_public }}"
                                                    class="paiment-btn btn btn-style mt-4"
                                            >Payer</button>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row share-btn">
                <div class="offset-md-3 col-md-3 col-4"><h5 class="">Partager l'évenement</h5></div>
                <div class="col-md-1 col-2 text-center">
                    <a href="https://facebook.com/sharer/sharer.php?u={{app.request.uri}}" target="_blank">
                        <img src="{{  asset("build/images/facebook.png")  }}"  width="40" height="40">
                    </a>
                </div>
                <div class="col-md-1 col-2 text-center">
                    <a href="https://twitter.com/share?text={{event.title}}&url={{app.request.uri}}" target="_blank">
                        <img src="{{  asset("build/images/twitter.png")  }}"  width="40" height="40">
                    </a>
                </div>
                <div class="col-md-1 col-2 text-center">
                    <a href="whatsapp://send?text={{ app.request.uri }}" data-action="share/whatsapp/share" target="_blank">
                        <img src="{{  asset("build/images/whattsap.png")  }}" width="40" height="40">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="pricing-w3l" id="{% if ((app.user and not eventVisited) or( not app.user) ) and (event.comments is  empty) %}avis-comment-white{% else %}avis-comment{% endif %}">
        <div class="container py-lg-5 py-md-4 py-2" >
{#            compare  dateevent with today #}

            {% if app.user and eventVisited and event.dateEvent|date('Y-m-d') < 'now'|date('Y-m-d')  %}
                <div class="row share-btn">
                    <div class="offset-md-2 col-md-8 col-12 p-3" style="border:1px solid #efefef;background: #fbfbfb">
                        <h6 class="mb-3 mt-2">Que pensez vous de cet event ?</h6>
                        <form action="{{ path('add-comment') }}" method="post">
                            <div class="form-group" style="padding: 3%;">
                                <label for="exampleFormControlTextarea1">Votre note</label>
                                <select class="form-select form-select-lg mb-3"  name="note">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <label>Votre avis<span class="text-danger">*</span> </label>
                                <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                                <input type="hidden" value="{{ event.id }}" name="event_id">
                                <input type="submit" value="Publier" class="btn btn-danger text-white mt-3" style="float: right">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
            {% if event.comments is not empty  %}
            <div class="row mt-4">
                <div class="offset-md-2 col-md-8 col-12 p-3">
                        <h5 class=" text-danger mb-3 ">Découvrez ce que les participants pensent de l'Event</h5>

                        <div style="border:1px solid #efefef;padding: 3%;background: #fbfbfb;" >
                            {% for comment in event.comments %}
                                {% if not comment.deletedAt %}
                                    <div class="coment-bottom p-1 px-4" style="background: #fbfbfb;" >
                                        <div class="commented-section">
                                            <div class="d-flex flex-row align-items-center commented-user">
                                                <h5 class="mr-5">{{ comment.user.fullName }}</h5>
                                                {% set time = '' %}
                                                {% set today ='now'|date('Y-m-d H:i:s')  %}
                                                {% set difference = date(comment.createdAt|date('Y-m-d H:i:s')).diff(date(today)) %}
                                                {% if difference.days > 0 %}
                                                    {% set time = difference.days ~ ' days ago' %}
                                                {% elseif difference.h > 0 %}
                                                    {% set time = difference.h ~ ' hours ago' %}
                                                {% elseif difference.i > 0 %}
                                                    {% set time = difference.i ~ ' minutes ago' %}
                                                {% elseif difference.s > 0 %}
                                                    {% set time = difference.s ~ ' seconds ago' %}
                                                {% endif %}
                                                {% set note = comment.note %}
                                                <div class="comment-text-sm" style="margin: 1%;float: right">
                                        <span>
                                            {% if note==0 %}
                                                {% for i in 1..5 %}
                                                    <i class="fas fa-star" style="color: #E6E7E8"></i>
                                                {% endfor %}
                                            {% elseif note==5 %}
                                                {% for i in 1..5 %}
                                                    <i class="fas fa-star" style="color: #F2C037"></i>
                                                {% endfor %}
                                            {% else %}
                                                {% for i in 1..note %}
                                                    <i class="fas fa-star" style="color: #F2C037"></i>
                                                {% endfor %}
                                            {% for i in 1..(5-note) %}
                                                    <i class="fas fa-star" style="color: #E6E7E8"></i>
                                                {% endfor %}
                                            {% endif %}
                                        </span>
                                                </div>
                                                <small class="ml-4 mb-1 ml-2 time-date">{{ time }}</small>
                                            </div>
                                            <div class=" comment-text-sm" style="margin: 1%"><span>{{ comment.message }}</span>  </div>
                                            {% if not loop.last %}<hr>{% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div>
            {% endif %}

        </div>
    </section>
    <!--  events Same Owner -->
    {% if eventsSameOwner  %}
        <div class="team-area pt-2" id="eventsSameOwner"><hr>
            <div class="container py-md-5 py-md-4 py-2">
                <h3 class="title-style text-capitalize text-center">
                    Plus d'events  <span>du même organisateur</span>
                </h3>

                <div class="row mt-lg-5 mt-4">
                    {% for evt in eventsSameOwner %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-team">
                                <div class="img-area">
                                    {% set url = "/build/images/placeholder.png" %}
                                    {% if evt.medias is not empty %}
                                        {% set url = "/uploads/" ~ evt.medias.values[0].realName %}
                                    {% endif %}
                                    <a href="{{ path('app_event_show',{"id":evt.id}) }}">
                                        <img src="{{ url }}" class="img-fluid img-animator radius-image" alt="">
                                    </a>
                                </div>
                                <div class="img-text">
                                    <h4><a href="#team">{{ evt.title }}</a></h4>
                                    <p>{{ evt.shortDescription }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <!-- events similaires -->
    {% if moreEvents %}
        <div class="team-area pt-5" id="moreEvents">
            <div class="container py-md-5 py-md-4 py-2">
                <h3 class="title-style text-capitalize text-center">Autres Events   <span>que vous pourriez aimer</span>
                </h3>

                <div class="row mt-lg-5 mt-4">
                    {% for evt in moreEvents %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-team">
                                <div class="img-area">
                                    {% set url = "/build/images/placeholder.png" %}
                                    {% if evt.medias is not empty %}
                                        {% set url = "/uploads/" ~ evt.medias.values[0].realName %}
                                    {% endif %}
                                    <a href="{{ path('app_event_show',{"id":evt.id}) }}">
                                        <img src="{{ url }}" class="img-fluid img-animator radius-image" alt="">
                                    </a>
                                </div>
                                <div class="img-text">
                                    <h4><a href="#team">{{ evt.title }}</a></h4>
                                    <p>{{ evt.shortDescription }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}


    <!-- button with content section -->
    <section class="w3l-button-sec py-5" id="newsletter">
        <div class="container py-5">
            <div class="w3-midhny-sec p-5">
                <div class="row align-items-center p-md-4">
                    <div class="col-xl-8 col-lg-9">
                        <div class="title-content-two pe-lg-5">
                            <h3 class="title-w3l mb-md-1 mb-4 d-md-flex align-items-center">Contactez l'Organisateur
                                <a class="mt-md-0 mt-2" href="tel:+ 12 123 456 789">+ 12 123 456 789</a> </h3>
                            {% if event.owner %}
                                <p> {{ event.owner.fullName|upper }} {% if app.user and app.user==event.owner %}<small style="font-weight: 200">(Vous)</small>{% endif %}</p>
                                <p class="small"> <i>{{ event.owner.email }}</i></p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-3 mt-lg-0 mt-sm-5 mt-4 text-lg-end">
                        {% if event.dateEvent|date('Y-m-d') < 'now'|date('Y-m-d') %}
                            <button class="btn btn-style" disabled>Guichet Fermé</button>
                        {% else %}
                            <a href="#prices" class="btn btn-style ">Get Ticket</a>
                        {% endif %}
                        {% if app.user and "ROLE_ANIMATEUR" in app.user.roles and event.dateEvent|date('Y-m-d') > 'now'|date('Y-m-d') and app.user not in  event.animators.values %}
                            <a href="{{ path('participateEvent',{'event':event.id}) }}" class="mt-5 btn btn-style" style="background: #0a58ca;border: #0a58ca;margin-left: 2.5%;display: inline-block;">Participer à l'event</a>
                        {% endif %}
                        {% if app.user and "ROLE_ANIMATEUR" in app.user.roles and event.dateEvent|date('Y-m-d') > 'now'|date('Y-m-d') and app.user  in  event.animators.values %}
                            <div class="row mt-4 tags-list">
                                <p><i class="mt-5 text-danger">Vous animez cet Event</i></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //button with content section -->
{% endblock %}
{% block javascripts %}
    <script>
        var days=document.getElementById("days")
        var countDownDate=days.getAttribute('data-date')
        var date = new Date(countDownDate).getTime();
        var timer = setInterval(function () {
                var now = new Date();
                var timeleft = date - now;
                if (timeleft > 0) {
                    document.getElementById("dateEvent").classList.remove("d-none");
                    document.getElementById("text-countdown").classList.remove("d-none");
                    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
                    document.getElementById("days").innerHTML = days
                    document.getElementById("daysText").innerHTML = "Days"
                    document.getElementById("hours").innerHTML = hours
                    document.getElementById("hoursText").innerHTML = "Hrs"
                    document.getElementById("mins").innerHTML = minutes
                    document.getElementById("minsText").innerHTML = "Mins"
                    document.getElementById("secs").innerHTML = seconds
                    document.getElementById("secsText").innerHTML = "Secs"
                }
            }, 1000);
    </script>
{% endblock %}
