
<p>Bonjour {{ user.fullName }},</p>

<p>Nous vous remercions d'avoir acheté le ticket {{ price.type }} pour participer à l'event {{ event.title }}<strong>
    </strong>. Vous pouvez
        accéder à votre reçu en cliquant <a target="_blank" href="{{ receipt_url }}">ici</a>.
</p>


<p>Vous pouvez également retrouver toutes vos factures en cliquant sur le bouton "Factures" sur votre
    <a href="{{ url_dashboard }}">profile</a>.</p>
