{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block content %}
    <section class="h-100 " style="background-color: #eee;margin-top: 5%">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-center">
                                        <a class="navbar-brand" href="{{ path("home") }}">
                                            {#                <i class="fas fa-music me-1"></i> #}
                                            <img style="width: 50px;height: 50px"
                                                 src="{{ asset("build/images/logo.png") }}"/>

                                        </a>
                                        <h4 class="text-danger mt-1 mb-5 pb-1">Créer un compte</h4>
                                    </div>
                                    {{ form_start(registrationForm) }}
                                    <div class="form-outline mb-4">
                                        {{ form_row(registrationForm.fullName) }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ form_row(registrationForm.email) }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ form_row(registrationForm.role) }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ form_row(registrationForm.profession) }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ form_row(registrationForm.birthday) }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ form_row(registrationForm.plainPassword, {
                                            label: 'Mot de passe',
                                        }) }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ form_row(registrationForm.centreInteret) }}
                                    </div>

                                    <button type="submit" class="btn btn-outline-success form-outline mb-4"
                                            style="float: right">
                                        Register
                                    </button>
                                    {{ form_end(registrationForm) }}
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="card-body p-md-5 mx-md-4 ">
                                    <h4 class="text-white mb-4">Créez un compte</h4>
                                     <p class="text-white" style="line-height: 30px"> pour accéder à tous les avantages et fonctionnalités de paletteEvents</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
