{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ demande.text }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ demande.createdAt ? demande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ demande.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_demande_index') }}">back to list</a>

    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">edit</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
