<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PaletteEvents - Plateforme de planification d'événements</title>
    <!-- Google fonts -->
    <link href=//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="{{ asset('build/frontend/ms/css/ms.css') }}">
    <link rel="stylesheet" href="{{ asset('build/icons/icon.min.css') }}">
{#    <link rel="stylesheet" href="{{ asset('build/css/all.min.css') }}">#}
    <link rel="icon" href="{{  asset("build/images/logo.png")  }}" />
    {% block og_meta %}{% endblock %}
</head>

<body>
<!-- top header -->

<!-- //top header -->
<!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ path("home") }}">
{#                <i class="fas fa-music me-1"></i>#}
                <img style="width: 50px;height: 50px" src="{{  asset("build/images/logo.png")  }}" />
                PaletteEvents
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path("home") }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('animators') }}">Animateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('events_index') }}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
                <form action="{{ path('search.event') }}" method="POST" class="d-flex search-header ms-lg-2">
                    <input class="form-control" type="search" placeholder="Chercher un Event..." aria-label="Search" name="search"
                           required>
                    <button class="btn btn-style" type="submit"><i class="fas fa-search"></i></button>
                </form>

                <button class="btn btn-style btn-style-3 btn-membre bg-transparent text-danger" style="width: 20%;">
                    {% if app.user %}
                        <a href="{{ path("profile",{"fullName":app.user.fullName}) }}" >{{ app.user.fullName }}</a>
                    {% else %}
                   <a href="{{ path('app_login') }}">Devenir Membre</a>
                    {% endif %}
                </button>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!-- //header -->

<div>
    {% block content %}{% endblock %}
</div>

<!-- footer -->
<footer class="w3l-footer9">
    <div class="footer-inner-main py-5">
        <div class="container pt-lg-5 pt-md-4 pt-2 pb-2">
            <div class="row">
                <div class="col-lg-4 sub-one-left pe-lg-5">
                    <h6>About </h6>
                    <p class="footer-phny"><b>PaletteEvents</b> est un outil de planification d'événements qui permet de créer, de partager et de promouvoir des événements .</p>
                    <div class="columns-2 mt-lg-5 mt-4">
                        <ul class="social">
                            <li><a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                            </li>
                            <li><a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                            </li>
                            <li><a href="#twitter"><span class="fab fa-twitter"></span></a>
                            </li>
                            <li><a href="#google"><span class="fab fa-google-plus-g"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-6 sub-two-right text-center mt-lg-0 mt-5">
                    <h6>Links</h6>
                    <ul>
                        <li><a href="{{ path('home') }}">Home</a> </li>
                        <li><a href="{{ path('animators') }}">Animateurs</a> </li>
                        <li><a href="{{ path('events_index') }}">Events</a> </li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-6 sub-two-right text-center mt-lg-0 mt-5">
                    <h6>Explore</h6>
                    <ul>
                        <li><a href="#support">Support</a></li>
                        <li><a href="#privacypolicy">Privacy policy</a></li>
                        <li><a href="#offers">Offers</a></li>
                        <li><a href="#career">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright-footer mt-lg-5 mt-sm-4 mt-2 text-center">
                <p class="copy-text"> &copy; {{ 'now'|date('Y')}} PaletteEvents. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script src="https://js.stripe.com/v3/"></script>
<script type="application/javascript" src="{{ asset('build/frontend/ms/js/ms.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/jquery.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/bootstrap.bundle.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/all.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/datepicker/datepicker.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/selects/selects.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('build/js/echarts/echarts.min.js') }}"></script>

<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<!-- //common jquery plugin -->

<!-- banner slider -->
<script>
    const slides = document.querySelectorAll(".slide");
    const nextButton = document.getElementById("next");
    const prevButton = document.getElementById("prev");
    const auto = true;
    const intervalTime = 5000;
    let slideInterval;

    const nextSlide = () => {
        const current = document.querySelector(".current");
        current.classList.remove("current");
        if (current.nextElementSibling) {
            current.nextElementSibling.classList.add("current");
        } else {
            slides[0].classList.add("current");
        }
    };

    const prevSlide = () => {
        const current = document.querySelector(".current");
        current.classList.remove("current");
        if (current.previousElementSibling) {
            current.previousElementSibling.classList.add("current");
        } else {
            slides[slides.length - 1].classList.add("current");
        }
    };

    nextButton.addEventListener("click", () => {
        nextSlide();
        if (auto) {
            clearInterval(slideInterval);
            slideInterval = setInterval(nextSlide, intervalTime);
        }
    });
    prevButton.addEventListener("click", () => {
        prevSlide();
        if (auto) {
            clearInterval(slideInterval);
            slideInterval = setInterval(nextSlide, intervalTime);
        }
    });

    if (auto) {
        slideInterval = setInterval(nextSlide, intervalTime);
    }
</script>
<!-- //banner slider -->

<!-- video popup -->
{#<script src="assets/js/jquery.magnific-popup.min.js"></script>#}
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!-- //video popup -->

<!-- theme switch js (light and dark)-->
{#theme-change.js#}
<!-- //theme switch js (light and dark)-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!-- bootstrap -->
<!-- //bootstrap -->
<!-- //Js scripts -->
</body>

</html>
