{% extends 'base.html.twig' %}

{% block content %}
    <!-- banner section -->
    <div class="slider">
        {% for key,event in events %}
            {% set url = "/build/images/placeholder.png" %}
            {% if event.medias is not empty %}
                {% set url = "/uploads/" ~ event.medias[0].realName %}
            {% endif %}
        <div class="slide {% if key == 0 %}current{% endif %}" style="background:url({{ asset(url) }})  no-repeat center top/cover !important;">
            <div class="bg-layer">
                <div class="content">
                    {% if event.categories is not empty %}
                    <h6>{{ event.categories[0].name }}</h6>
                    {% endif %}
                    <h3>{{ event.title }}</h3>
                    <a  href="{{ path('app_event_show',{"id":event.id}) }}" class="btn btn-style mt-4">Voir plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="buttons">
        <button id="prev"><i class="fas fa-arrow-left"></i></button>
        <button id="next"><i class="fas fa-arrow-right"></i></button>
    </div>
    <!-- //banner section -->

    <!-- about section -->
    <section class="w3l-about py-5" id="about">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row align-items-center">
                <div class="col-lg-12 section-width pe-xl-5 pt-lg-4">
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger border-0 alert-dismissible mx-3 my-3">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <div class="alert-message">{{ message|raw }}</div>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success border-0 alert-dismissible mx-3 my-3">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <div class="alert-message">{{ message|raw }}</div>
                    </div>
                </div>
                <div class="col-lg-6 section-width pe-xl-5 pt-lg-4">
                    {% endfor %}
                    <h3 class="title-style">Bienvenue à <span>PaletteEvents</span></h3>
                    <p class="mt-4">Nous offrons une variété d'événements, allant de soirées entre amis, aux événements culturels, en passant par les concerts et les festivals.</p>
                    <p class="mt-4 pb-dm-3">Si vous ne trouvez pas l'événement que vous recherchez, nous vous offrons la possibilité de créer votre propre événement en quelques clics seulement!</p>
                   {% if not app.user%} <a  href="{{ path('app_login') }}" class="btn btn-style mt-5"> Devenir membre</a>{% endif %}
                </div>
                <div class="col-lg-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
                    <div class="position-relative img-border">
                        <img src="{{ asset("build/images/about.jpg") }}" class="img-fluid radius-image" alt="video-popup">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about section -->

    <!-- classes section -->
    <section class="w3l-classes py-5" id="classes">
        {% set icons = [
            "fa-music",
            "fa-compact-disc",
            "fa-drum",
            "fa-play",
            "fa-microphone",
            "fa-headphones",

        ] %}
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-style text-center">Nos catégories <span>Populaires</span></h3>
            <div class="row text-center justify-content-center">
                {% for key,category in categories %}
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap p-lg-3">
                        <a href="{{ path("similar_events_category",{"categoryName":category.name}) }}"  class="title-head mt-4 mb-2">
                        <div class="icon">
                            <i class="fas {{ icons[key] }}"></i>
                        </div>
                        </a>
                        <h4><a href="{{ path("similar_events_category",{"categoryName":category.name}) }}"  class="title-head mt-4 mb-2">{{ category.name }}</a></h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- //classes section -->

    <!-- homeblock1 section -->
    <section class="w3l-homeblock1 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <h3 class="title-style">Events <span>ajoutés</span> récement</h3>
                    <h6 class="sub-title mt-md-4 mt-md-5 mt-4">Explorer  <br>les nouveautés des Events</h6>
                    <a href="{{ path('events_index') }}" class="btn btn-style mt-lg-5 mt-4">Tous les Events</a>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-5 ps-lg-5">
                    <div class="row">
                        <div class="col-6">
                            {% for key,event in events|slice(0,2) %}
                            <div class="column-w3-img position-relative {% if key == 1 %} mt-4 img_sm{% else %}img_bg{% endif %}">
                                <a  href="{{ path('app_event_show',{"id":event.id}) }}">
                                    {% set url = "/build/images/placeholder.png" %}
                                    {% if event.medias is not empty %}
                                        {% set url = "/uploads/" ~ event.medias[0].realName %}
                                    {% endif %}
                                    <img src="{{ asset(url) }}" alt=""
                                                      class="radius-image img-fluid">
                                </a>
                            </div>
                              {% endfor %}
                        </div>
                        <div class="col-6">
                            {% for key,event in events|slice(2,4) %}
                            <div class="column-w3-img position-relative {% if key == 1 %}mt-4 img_bg{% else %}img_sm{% endif %}">
                                <a  href="{{ path('app_event_show',{"id":event.id}) }}">
                                    {% set url = "/build/images/placeholder.png" %}
                                    {% if event.medias is not empty %}
                                        {% set url = "/uploads/" ~ event.medias[0].realName %}
                                    {% endif %}
                                    <img src="{{ asset(url) }}" alt=""
                                                      class="radius-image img-fluid"></a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //homeblock1 section -->

    <!-- join section -->
    <section class="w3l-whyblock py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <a class="nav-link" href="{{ path('animators') }}">
                        <img src="{{ asset("build/images/all-animators.png") }}" alt="" class="img-fluid radius-image">
                    </a>
                </div>
                <div class="col-lg-6 ps-xl-5 ps-lg-4 mt-lg-0 mt-5">
                    <a class="nav-link" href="{{ path('animators') }}"> <h3 class="title-style mb-4">Rejouignez <span>l'Equipe</span></h3> </a>
                    <p>Si vous êtes une personne créative, enthousiaste et désireuse de partager votre passion pour l'animation, alors rejoignez-nous pour vivre une expérience unique et enrichissante en tant qu'animateur / animatrice.</p>
                    <div class="two-grids mt-5">
                        <div class="grids_info">
                            <i class="fas fa-volume-up"></i>
                            <div class="detail">
                                <h4>Travaillez avec une équipe dynamique et passionnée</h4>
                            </div>
                        </div>
                        <div class="grids_info mt-xl-5 mt-4">
                            <i class="fas fa-compact-disc"></i>
                            <div class="detail">
                                <h4>Devenez un acteur clé dans la création d'expériences inoubliables.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //join section -->

    <!-- subscribe form section -->
    <section class="w3l-forms-9 pt-5 pb-lg-4" id="newsletter">
        <div class="container">
            <div class="main-midd text-center mx-auto" style="max-width:700px;">
                <h3 class="title-style mb-2">Abonnez-vous à notre <span>newsletter!</span></h3>
                <p class="">Afin d’être informé quotidiennement sur la sortie de nos derniers Events ! </p>

                <div class="main-midd-2 mt-md-5 mt-4 mx-auto" style="max-width:600px;">
                    <form action="{{ path('naewsletter') }}" method="POST" class="d-sm-flex rightside-form">
                        <input type="email" class="form-control" name="email" placeholder="Votre adresse e-mail">
                        <button class="btn btn-style" type="submit">Inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- //subscribe form section -->

    <!-- button with content section -->
    <section class="w3l-button-sec py-5">
        <div class="container py-5">
            <div class="w3-midhny-sec p-5">
                <div class="row align-items-center p-md-4">
                    <div class="col-xl-8 col-lg-9">
                        <div class="title-content-two pe-lg-5">
                            <h3 class="title-w3l mb-md-1 mb-4 d-md-flex align-items-center">Contactez Nous!
                                <a class="mt-md-0 mt-2" href="tel:+ 12 123 456 789">+ 12 123 456 789</a> </h3>
                            <p>Vous souhaitez nous contacter ? Nous serions ravis de vous aider !</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 mt-lg-0 mt-sm-5 mt-4 text-lg-end">
                        <a href="about.html" class="btn btn-style ">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //button with content section -->
{% endblock %}