{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.fullName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.birthday) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.profession) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.centreInteret) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.role) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.facebook) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.twitter) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.linkedin) }}
        </div>
    </div>

    {{ form_row(form._token) }}

    <a class="btn btn-chellal btn-secondary" href="{{ path('app_user_index') }}">Retour à la liste</a>
    <button type="submit" class="btn btn-chellal btn-paletteEvent">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}
