{% extends 'base.html.twig' %}

{% block content %}
<section class="py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-5 pb-sm-4 pb-2">
            <h4 class="inner-text-title text-dark font-weight-bold pt-5">{{ app.user.fullName }}</h4>
        </div>
    </div>
    <div class="container">
        <ul style="width: 70%" class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a
                        class="nav-link active text-uppercase font-weight-bold"
                        id="ex3-tab-1"
                        data-bs-toggle="tab"
                        href="#ex3-tabs-1"
                        role="tab"
                        aria-controls="ex3-tabs-1"
                        aria-selected="true"
                >Infos personnelles</a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a
                        class="nav-link text-uppercase text-danger font-weight-bold"
                        id="ex3-tab-2"
                        data-bs-toggle="tab"
                        href="#ex3-tabs-2"
                        role="tab"
                        aria-controls="ex3-tabs-2"
                        aria-selected="false"
                >Factures</a
                >
            </li>
        </ul>

        <div class="tab-content" id="ex2-content">
            <div
                    class="tab-pane fade show active"
                    id="ex3-tabs-1"
                    role="tabpanel"
                    aria-labelledby="ex3-tab-1"
            >
                {{ form_start(form) }}
                <div class="row mt-3">
                    <div class="col-md-6">
                        {{ form_row(form.fullName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.birthday) }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        {{ form_row(form.profession) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.centreInteret) }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        {{ form_row(form.role,{'attr': {'disabled': 'disabled'}}) }}
                    </div>
                </div>
                <div class="mt-3 text-right">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                FACTURE
            </div>
        </div>




    </div>
</section>
{% endblock %}